<!DOCTYPE html>
<html>
<body>
<body style="background-color:azure;">

<h1 style="color:brown ; text-align: center ;"> As-tu de la chance ??? </h1>

<form action="/" target="_self" method="post"> 
<input type="checkbox" id="resp1" name="resp1" value="Absolument pas !!!">
<label for="resp1"> I have no chance</label><br>
<input type="checkbox" id="resp2" name="resp2" value="Je ne crois pas">
<label for="resp2"> I have not even one single chance</label><br>
<input type="checkbox" id="resp3" name="resp3" value="Je suis persuadé que non !">
<label for="resp3"> I have a boat but I'm not lucky</label><br><br>
<input type="submit" value="Submit">
</form> 

<p></p>

<a href="/"> Home</a> 
<a href="/about"> About</a>

</body>
</html>